*{
  margin: 0px;
}

body{
  background-color: #f5f6fa;
}

.app{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__left{
  flex: 0.9; /* this mean is to take the 90% of the screen */
}

.app__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.app__stats{
  display: flex;
  justify-content: space-between;
}

@media (max-width:990px){
  .app{
    flex-direction: column;
  }
}